dist/index.html
<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1.0"><link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"><link href="styles.css" rel="stylesheet"><title>todo</title><script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script></head><body class="bg-gray-100 font-sans min-h-screen flex items-center justify-center"><div class="bg-white p-6 rounded-lg shadow-lg w-max min-w-[600px]" x-data="todoApp()"><h1 class="text-2xl font-semibold mb-4 text-center">todo</h1><template x-if="func === 'new'"><div class="flex justify-end items-center relative border-solid border-slate-300 border-2 rounded-md w-full"><input class="py-2 px-3 w-full" x-model="input" @keydown.enter="addTodo"><i class="material-icons">add</i></div></template><template x-if="func === 'search'"><div class="flex justify-end items-center relative border-solid border-slate-300 border-2 rounded-md w-full"><input class="py-2 px-3 w-full" x-model="input" @keydown.enter="view = model.filter(({ text }) =&gt; text.includes(input))"><i class="material-icons">search</i></div></template><div class="flex justify-end gap-2"><a class="cursor-pointer" @click="func = 'search'" :class="(func === 'search') &amp;&amp; 'active' || 'inactive'">Search</a><a class="underline cursor-pointer" @click="func = 'new'" :class="(func === 'new') &amp;&amp; 'active' || 'inactive'">New</a></div><div class="flex mt-4 justify-between gap-16"><span><span x-text="view.length"></span>&nbsp;<span x-text="(filter === 'all') ? 'total' : (filter === 'complete') ? 'completed' : 'active'"></span></span><span class="flex gap-1"><a class="cursor-pointer" @click="filter = 'all'; updateView()" :class="filter === 'all' &amp;&amp; 'active' || 'inactive'">All</a><a class="cursor-pointer" @click="filter = 'active'; updateView()" :class="filter === 'active' &amp;&amp; 'active' || 'inactive'">Active</a><a class="cursor-pointer" @click="filter = 'complete'; updateView()" :class="filter === 'complete' &amp;&amp; 'active' || 'inactive'">Completed</a></span><a class="underline cursor-pointer" @click="model = model.filter(({ isComplete }) =&gt; !isComplete ); updateView()">Clear Completed</a></div><ul class="mt-4"><template x-for="({ text, isComplete }, idx) in view"><li class="flex justify-between items-center py-2" x-transition><input class="scale-150 outline-1" type="checkbox" :checked="isComplete" @change="Object.assign(model.at(idx), {isComplete: $event.target.checked}); saveChanges();"><input class="grow text-left cursor-pointer px-2" x-model="text" @change="Object.assign(model.at(idx), {text}); saveChanges();"><button @click="model.splice(idx, 1); updateView(); saveChanges();"> <i class="material-icons">close</i></button></li></template></ul></div></body><script>function todo({ text = 'default', isComplete = false } = {}) {
  return {
    created: new Date(),
    isComplete,
    text,
  }
}
function todoApp() {
  const model = JSON.parse(localStorage.getItem("todo")) || [
    todo({ text: 'bread' }),
    todo({ text: 'walk the dog', isComplete: true }),
  ];
  const view = [...model];

  return {
    model,
    view,
    input: '',
    func: 'new',
    filter: 'all',

    updateView(f = this.filter) {
      this.view = (f === 'complete')
        ? this.model.filter(({ isComplete }) => isComplete)
        : (f === 'active')
        ? this.model.filter(({ isComplete }) => !isComplete)
        : [...this.model]
    },

    saveChanges() {
      localStorage.setItem("todo", JSON.stringify(this.model))
    },

    addTodo() {
      this.model.push(todo({ text: this.input }))
      this.input = ''
      this.updateView()
      this.saveChanges()
    }
  }
}</script></html>

src/index.pug
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    link(href="styles.css" rel="stylesheet")
    title todo
    script(defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js")
  body.bg-gray-100.font-sans.min-h-screen.flex.items-center.justify-center
    .bg-white.p-6.rounded-lg.shadow-lg.w-max(class="min-w-[600px]" x-data="todoApp()")
      h1.text-2xl.font-semibold.mb-4.text-center todo
      template(x-if="func === 'new'")
        .flex.justify-end.items-center.relative.border-solid.border-slate-300.border-2.rounded-md.w-full
          input(x-model="input" @keydown.enter="addTodo").py-2.px-3.w-full
          i.material-icons add
      template(x-if="func === 'search'")
        .flex.justify-end.items-center.relative.border-solid.border-slate-300.border-2.rounded-md.w-full
          input(x-model="input" @keydown.enter="view = model.filter(({ text }) => text.includes(input))").py-2.px-3.w-full
          i.material-icons search
      .flex.justify-end.gap-2
        a(@click="func = 'search'" :class="(func === 'search') && 'active' || 'inactive'").cursor-pointer Search
        a(@click="func = 'new'" :class="(func === 'new') && 'active' || 'inactive'").underline.cursor-pointer New
      .flex.mt-4.justify-between.gap-16
        span
          span(x-text="view.length")
          | &nbsp;
          span(x-text="(filter === 'all') ? 'total' : (filter === 'complete') ? 'completed' : 'active'")
        span.flex.gap-1
          a(@click="filter = 'all'; updateView()" :class="filter === 'all' && 'active' || 'inactive'").cursor-pointer All
          a(@click="filter = 'active'; updateView()" :class="filter === 'active' && 'active' || 'inactive'").cursor-pointer Active
          a(@click="filter = 'complete'; updateView()" :class="filter === 'complete' && 'active' || 'inactive'").cursor-pointer Completed
        a(@click="model = model.filter(({ isComplete }) => !isComplete ); updateView()").underline.cursor-pointer Clear Completed
      ul.mt-4
        template(x-for="({ text, isComplete }, idx) in view")
          li.flex.justify-between.items-center.py-2(x-transition)
            input(type="checkbox" :checked="isComplete" @change="Object.assign(model.at(idx), {isComplete: $event.target.checked}); saveChanges();").scale-150.outline-1
            input.grow.text-left.cursor-pointer.px-2(x-model="text" @change="Object.assign(model.at(idx), {text}); saveChanges();")
            button(@click="model.splice(idx, 1); updateView(); saveChanges();") 
              i.material-icons close

  script.
    function todo({ text = 'default', isComplete = false } = {}) {
      return {
        created: new Date(),
        isComplete,
        text,
      }
    }
    function todoApp() {
      const model = JSON.parse(localStorage.getItem("todo")) || [
        todo({ text: 'bread' }),
        todo({ text: 'walk the dog', isComplete: true }),
      ];
      const view = [...model];

      return {
        model,
        view,
        input: '',
        func: 'new',
        filter: 'all',

        updateView(f = this.filter) {
          this.view = (f === 'complete')
            ? this.model.filter(({ isComplete }) => isComplete)
            : (f === 'active')
            ? this.model.filter(({ isComplete }) => !isComplete)
            : [...this.model]
        },

        saveChanges() {
          localStorage.setItem("todo", JSON.stringify(this.model))
        },

        addTodo() {
          this.model.push(todo({ text: this.input }))
          this.input = ''
          this.updateView()
          this.saveChanges()
        }
      }
    }
